{% extends 'admin/common.html' %}
{% from 'admin/common.html' import render_field %}

{% block content %}
    <h1 class="uk-h1">
        {{ _('Add article page header') if not article_id else _('Edit article page header') }}
    </h1>

    <form method="post" class="uk-form uk-form-horizontal" action="{{ url_for('admin.edit_article', article_id=article_id) }}">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="uk-form-row">
                {{ render_field(field) }}
            </div>
        {% endfor %}

        <div class="uk-form-row">
            <button type="submit" class="uk-button uk-button-primary">{{ _('Save button') if article_id else _('Add button') }}</button>
            <button type="submit" class="uk-button uk-button-primary" name="save_and_continue">{{ _('Save and continue button') if article_id else _('Add and continue button') }}</button>
            <a href="{{ url_for('admin.articles') }}" class="uk-button uk-float-right">{{ _('Cancel button') }}</a>
        </div>
    </form>
{% endblock %}